body {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: auto 0;
    font-family: 'Lato';
}

main {
    text-align: center;
}

section {
    padding: 20px 0;
    font-size: 16pt;
}

ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

footer {
    text-align: center;
}